In [1]:
# importing pandas, numpy and plotly.express libraries
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
# Load dataset
df = pd.read_csv("/Users/kseniyagormash/Project_6/processed_vehicles_us.csv")

In [3]:
# obtaining the first 10 rows from the df table
df.head(10)

,price,year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6,gas,145000,automatic,SUV,unknown,1,2018-06-23,19
1,25500,2011,ford f-150,good,6,gas,88705,automatic,pickup,white,1,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4,gas,110000,automatic,sedan,red,0,2019-02-07,79
3,1500,2003,ford f-150,fair,8,gas,121928,automatic,pickup,unknown,0,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4,gas,80903,automatic,sedan,black,0,2019-04-02,28
5,14990,2014,chrysler 300,excellent,6,gas,57954,automatic,sedan,black,1,2018-06-20,15
6,12990,2015,toyota camry,excellent,4,gas,79212,automatic,sedan,white,0,2018-12-27,73
7,15990,2013,honda pilot,excellent,6,gas,109473,automatic,SUV,black,1,2019-01-07,68
8,11500,2012,kia sorento,excellent,4,gas,104174,automatic,SUV,unknown,1,2018-07-16,19
9,9200,2008,honda pilot,excellent,6,gas,147191,automatic,SUV,blue,1,2019-02-15,17

In [4]:
# obtaining general information about the data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51484 entries, 0 to 51483
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51484 non-null  int64
 1   year          51484 non-null  int64
 2   model         51484 non-null  object
 3   condition     51484 non-null  object
 4   cylinders     51484 non-null  int64
 5   fuel          51484 non-null  object
 6   odometer      51484 non-null  int64
 7   transmission  51484 non-null  object
 8   type          51484 non-null  object
 9   paint_color   51484 non-null  object
 10  is_4wd        51484 non-null  int64
 11  date_posted   51484 non-null  object
 12  days_listed   51484 non-null  int64
dtypes: int64(6), object(7)
memory usage: 5.1+ MB